.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.App-logo {
  height: 30px;
  margin: 5px;
}

.App-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
  background-color: #0075b2;
  height: 40px;
  padding-left: 50px;
  color: #a4c2db;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.7em;
}

.main-body {
  position: relative;
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  min-width: 100px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

form.app-form {
  position: relative;
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.app-form-input {
  margin-right: 40px;
  min-width: 600px
}

a,
a:active,
a:hover,
a:focus,
a:visited {
  color: rgba(0, 0, 0, 0.87);
}

.clickable {
  cursor: pointer;
}

.clickable:active {
  transform: translateY(1px);
}